* {
    font-family: 'Mulish', sans-serif;
    margin: 0rem;
    padding: 0rem;
}

/* Common classes */
.same-container {
    width: 81.25%;
    margin: 3rem auto;

}

.tittle {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 2rem;
}

.card-tittle {
    color: #131318;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 1rem 0rem;
}

.description {
    text-align: justify;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: rgba(19, 19, 24, 0.70);
    line-height: 1.6rem;
    margin-top: 1rem auto;
    margin-bottom: 1rem;
}

.color-tittle {
    color: #FF5400;
}

.btn-primary {
    width: 10.8rem;
    height: 3.5rem;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}

.btn-primary .btn-span {
    margin: 0rem 1rem;

}

a {
    text-decoration: none;
    color: #FFF;
}

/* ----nav-bar section----  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}


.nav-bar ul li {
    list-style: none;

}


.nav-bar ul li a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

#menu-icon {
    display: none;
}

.nav-bar ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
}

.nav-bar ul li:hover {
    opacity: 0.7;
    border: 0.2rem solid slategray;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

/* ----banner section----  */
.banner-container {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group 13.png");
    background-size: cover;
    padding: 1rem;
    text-align: center;
    margin: 4rem auto;

}

.banner-content {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem auto;

}

.banner-content h2 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    border-radius: 2rem;
}

.banner-content p {
    width: 40rem;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.banner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 6rem;
    border-radius: 0.5rem;

}

.banner-items {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
}

/* ---Popular Tours section---  */
.tour-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tour-content {
    width: 55%;

}

.tour-content ul {
    padding-left: 1rem;
    text-align: left;
    margin-top: 1rem auto;
}

.tour-img {
    width: 40%;

}

.tour-img img {
    width: 100%;
    object-fit: cover;
}

/* ----Destination section--- */
.destination-content p {
    text-align: center;

}

.destination-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.destination-img-container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.destination-img-1 {
    grid-column: 1/12;
    grid-row: 1/ span 1;
}

.destination-img-2 {
    grid-column: 12/24;
    grid-row: 1/span 1;
}

.destination-img-3 {
    grid-column: 1/8;
    grid-row: 2/span 1;
}

.destination-img-4 {
    grid-column: 8/18;
    grid-row: 2/span 1;
}

.destination-img-5 {
    grid-column: 18/24;
    grid-row: 2/span 1;
}

.destination-img-6 {
    grid-column: 1/11;
    grid-row: 3/span 1;
}

.destination-img-7 {
    grid-column: 11/24;
    grid-row: 3/span 1;
}

.tittle-center {
    position: relative;
    left: 35%;
    bottom: 50%;
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
}

/* ----choose cards section----  */
.choose-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.choose-card {
    width: 40%;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 1.5rem;
}

.bg-color-1 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.bg-color-2 {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* ----Deals & Discounts section----  */
.deals-container {
    background-image: url("../Images/Group39.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 0.5rem;
}

.deals-container-2 {
    background-image: url("../Images/Group40.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 0.5rem;
}

.deal-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.deal-card {
    width: 40%;
    position: relative;
    top: 20%;
    left: 20%;
    border-radius: 1rem;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 2.5rem;
    margin: 3rem auto;
}

.deal-card-2 {
    width: 40%;
    position: relative;
    top: 20%;
    right: 20%;
    border-radius: 1rem;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 2.5rem;
    margin: 3rem auto;
}

.btn-center {
    text-align: center;
}

/* ----video section----  */
.video-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-description {
    width: 55%;
}

.video-description ul {
    padding-left: 1rem;
    text-align: left;
    margin-top: 1rem auto;
}

.video-content {
    width: 40%;

}

.video-content iframe {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

/* ----newsletter section----  */
.newsletter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.newsletter-field {
    width: 35%;
    border-radius: 1rem;
    border: 1px solid #FF5400;
    padding: 5rem 1rem;

}

.newsletter-field input {
    width: 24rem;
    height: 2.5rem;
    display: block;
    border-radius: 0.5rem;
    background: rgba(19, 19, 24, 0.05);
    margin: 1rem auto;
    padding: 0.5rem;
    border: none;
    font-size: 1rem;
    font-weight: 500;

}

.newsletter-img {
    width: 60%;
    position: relative;
}

.newsletter-img img {
    width: 100%;
}

#btn-submit {
    background: #FF5400;
}

#btn-discount {
    position: absolute;
    left: 64%;
    bottom: 9%;
    border-radius: 1rem;
    background: #FF5400;
    color: #FFF;
    transform: rotate(-19deg);
    padding: 0.5rem;
}

#btn-discount h5 {

    font-size: 2rem;
    font-weight: 800;
}


/* ----footer section----  */


.footer-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;
}
.footer-logo-container .tittle{
    margin-top: 1rem;
}
/* ----social media section----  */
footer{
    background: rgba(19, 19, 24, 0.05);
}
footer  p{
    margin: 0rem auto;
    padding: 3rem;
}
.social-media-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
}
.social-media-icons a{
    color: black;
    font-size: 2rem;
}
.copyrights{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}


/* #####----Responsive for medium device----######  */
@media screen and (min-width:601px) and (max-width:992px) {

    /* ----nav-bar section----  */
    .logo-container {
        flex-direction: column;
    }

    /* ----banner section----  */
    .banner-box {
        flex-wrap: wrap;
    }

    /* ----popular tour section--- */
    .tour-container {
        flex-direction: column;
    }

    .tour-content {
        width: 90%;
        margin: 2rem auto;
    }

    .tour-img {
        width: 90%;
        margin: 2rem auto;
    }

    button {
        margin: 1rem auto;
    }


    /* ----Destination section section--- */
    .destination-img-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .destination-img-1 {
        grid-column: 1/span 2
    }

    .destination-img-2 {
        grid-column: 1/span 2
    }

    .destination-img-3 {
        grid-column: 1/span 2
    }

    .destination-img-4 {
        grid-column: 1/span 2
    }

    .destination-img-5 {
        grid-column: 1/span 2
    }

    .destination-img-6 {
        grid-column: 1/span 2
    }

    .destination-img-7 {
        grid-column: 1/span 2
    }

    /* ----Why choose us section--- */
    .choose-container {
        flex-direction: column;
    }

    .choose-card {
        width: 90%;
        margin: 2rem auto;
    }

    /* ----Deals & Discounts section----  */
    .deal-card {
        width: 90%;
        height: 50%;
        position: static;
        margin-top: 2rem;
    }

    .deal-card-2 {
        width: 90%;
        height: 50%;
        position: static;
        margin-top: 2rem;
    }

    .deals-container {
        margin: 2rem auto;
    }

    /* ----video section----  */
    .video-container {
        flex-direction: column;
        gap: 2rem;
    }

    /* ----newsletter section----  */
    .newsletter-container {
        flex-direction: column;
        gap: 1.5rem;
    }
   
    .newsletter-img {
        width: 90%;
        margin: 2rem auto;
    }

    .newsletter-field {
        width: 90%;
        margin: 2rem auto;
        padding: 5rem 0rem;
    }
    .newsletter-field input{
        width: 90%;
        margin: 2rem auto;
    }
    #btn-discount {
        position: absolute;
        left: 62%;
        bottom: 6%;
        transform: rotate(-20deg);
    }

}

/* #####----Responsive for smaller device----######  */
@media screen and (max-width:600px) {

    /* ----nav-bar section----  */
    #short-tittle{
        display: none;
    }
    .same-container {
        width: 80%;
        margin: 2rem auto;

    }

    #menu {
        display: none;
    }

    #menu-icon {
        display: inline;
    }

    .logo-tittle {
        font-size: 1rem;
        font-weight: 800;
    }

    nav {
        justify-content: space-around;

    }

    /* ----banner section----  */
    .banner-box {
        flex-direction: column;
    }

    .banner-content p {
        width: 90%;
        margin: 2rem auto;
    }

    /* ---Popular Tours section---  */
    .tour-container {
        flex-direction: column;
        gap: 1rem;
    }

    .tour-content {
        width: 100%;
    }

    .tour-img {
        width: 100%;
    }

    /* ----Destination section--- */
    .destination-img-container {
        grid-template-columns: 1fr;
    }

    .destination-img-1 {
        grid-column: 1/span 1
    }

    .destination-img-2 {
        grid-column: 1/span 1
    }

    .destination-img-3 {
        grid-column: 1/span 1
    }

    .destination-img-4 {
        grid-column: 1/span 1
    }

    .destination-img-5 {
        grid-column: 1/span 1
    }

    .destination-img-6 {
        grid-column: 1/span 1
    }

    .destination-img-7 {
        grid-column: 1/span 1
    }

    /* ----Why choose us section--- */
    .choose-container {
        flex-direction: column;
    }

    .choose-card {
        width: 90%;
        margin: 2rem auto;
    }

    /* ----Deals & Discounts section----  */
    .deal-card {
        width: 303px;
        height: 297px;
        position: static;
        margin-top:12rem;
    }

    .deal-card-2 {
        width: 303px;;
        height: 297px;
        position: static;
        margin-top:12rem;
    }

    .deals-container {
        margin: 2rem auto;
    }

    /* ----video section----  */
    .video-container {
        flex-direction: column;
        gap: 2rem;
    }
    .video-description {
        width: 90%;
        margin: 2rem auto;
    }
    .video-content {
        width: 90%;
        margin: 2rem auto;
    }

    /* ----newsletter section----  */
    .newsletter-container {
        flex-direction: column;
        gap: 1.5rem;
    }
   
    .newsletter-img {
        width: 90%;
        margin: 2rem auto;
    }

    .newsletter-field {
        width: 90%;
        margin: 0rem auto;
        padding: 5rem 0rem;
    }
    .newsletter-field input{
        width: 90%;
        margin: 2rem auto;
    }
    #btn-discount {
        position: absolute;
        left: 38%;
        bottom: 16%;
        transform: rotate(-20deg);
    }

    .footer-logo-container{
        flex-direction: column;
    }
}