* {
    font-family: 'Mulish', sans-serif;
    margin: 0rem;
    padding: 0rem;
}

/* Common classes */
.same-container {
    width: 81.25%;
    margin: 2rem auto;
    
}

.color-tittle {
    color: #FF5400;
}

/* ----nav-bar section----  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.logo-tittle {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-bar ul li {
    list-style: none;

}


.nav-bar ul li a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
#menu-icon{
    display: none;
}
.nav-bar ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
}

.nav-bar ul li:hover {
    opacity: 0.7;
    border: 0.2rem solid slategray;
    border-radius: 0.25rem;
    padding: 0.25rem;
}
/* ----banner section----  */
.banner-container{
    background-image: url("../Images/Group 13.png");
}

.banner-box{
    display: flex;
}









@media screen and (max-width:600px) {
    
    .same-container{
        width: 80%;
    
        
    }
    #menu{
        display: none;
    }
    #menu-icon{
        display: inline;
    }
    .logo-tittle {
        font-size: 1rem;
        font-weight: 800;
    }
    nav {
        justify-content: space-around;
        
    }

}